iframe{
    width:80%;
    height:30em; 
    padding-left:7em ;
    border:none;
}

#section3 article h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #6E2C00;
    padding-left: 7em;

}